.page-options {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-btn {
  max-width: 200px;
  margin-bottom: 20px;
}

.table-actions > a:first-child {
  margin-right: 7px;
}

.table-actions .btn-action {
  padding: 4px 5px;
  border-radius: 3px;
}
